.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardImage {
  object-fit: contain !important;
}
.cardRating {
  display: flex;
  align-items: center;
}
