.catalog {
  padding-top: 20px;
}

.catalogBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.pagination {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
